# Godot 4+
.godot/
.import/
.android/

# Exportaciones
exports/
builds/

# Logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# VS Code
.vscode/

# JetBrains
.idea/

# Backups temporales
*~
*.tmp
*.bak